baseURL = "http://notarianni.org/"
languageCode = "fr"
title = "notarianni.org"
theme = "shibui"
publishDir = "docs"

[params.author]
name = "Bernard Notarianni"

[markup]
  defaultMarkdownHandler = "goldmark"
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
  [markup.highlight]
    codeFences = true
    guessSyntax = true
    lineNos = false
    noClasses = true
    tabWidth = 4
    style = "monokai"
  [markup.tableOfContents]
    startLevel = 2
    endLevel = 4
    ordered = true

[menu]
  [[menu.main]]
      name = "Posts"
      url = "/posts/"
      weight = 1
  [[menu.main]]
      name = "About"
      url = "/about/"
      weight = 2
  [[menu.main]]
      name = "Categories"
      url = "/categories/"
      weight = 3
  [[menu.main]]
      name = "Tags"
      url = "/tags/"
      weight = 4
  [[menu.main]]
      name = "RSS"
      url = "/index.xml"
